@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #c4c7c7;
    font-size: 1rem;
}